<?xml version="1.0" encoding="UTF-8"?>

<pov_settings>

	<camera>
	</camera>

	<options>
		<use_standard_colors>true</use_standard_colors>
	</options>

	<save>
		<folder>sample</folder> <!-- use . for root --> 
	</save>
	
	<!-- if using standard coloring (above), these will be used --> 
	<!-- otherwise, the code will look for a user-defined color/finish function --> 
	<cell_color_definitions>
		<!-- each cell's type will be used to choose a coloring scheme for live, apoptotic, or necrotic -->
		<!-- If the cell's type is not recognized, the standard coloring function will default to 0 --> 
		<cell_colors type="0">
			<live>
				<cytoplasm>0,1,0,0</cytoplasm> <!-- red,green,blue,filter --> 
				<nuclear>0,0.125,0,0</nuclear>
				<finish>0.05,1,0.1</finish> <!-- ambient,diffuse,specular -->
			</live>
			<apoptotic>
				<cytoplasm>1,0,0,0</cytoplasm> <!-- red,green,blue,filter --> 
				<nuclear>0.125,0,0,0</nuclear>
				<finish>0.05,1,0.1</finish> <!-- ambient,diffuse,specular -->
			</apoptotic>
			<necrotic>
				<cytoplasm>1,0.5412,0.1490,0</cytoplasm> <!-- red,green,blue,filter --> 
				<nuclear>0.125,0.06765,0.018625</nuclear>
				<finish>0.01,0.5,0.1</finish> <!-- ambient,diffuse,specular -->
			</necrotic>
		</cell_type>
		
		<cell_colors type="1">
			<live>
				<cytoplasm>0,0,1,0</cytoplasm> <!-- red,green,blue,filter --> 
				<nuclear>0,0,0.125,0</nuclear>
				<finish>0.05,1,0.1</finish> <!-- ambient,diffuse,specular -->
			</live>
			<apoptotic>
				<cytoplasm>1,0,0,0</cytoplasm> <!-- red,green,blue,filter --> 
				<nuclear>0.125,0,0,0</nuclear>
				<finish>0.05,1,0.1</finish> <!-- ambient,diffuse,specular -->
			</apoptotic>
			<necrotic>
				<cytoplasm>1,0.5412,0.1490,0</cytoplasm> <!-- red,green,blue,filter --> 
				<nuclear>0.125,0.06765,0.018625</nuclear>
				<finish>0.01,0.5,0.1</finish> <!-- ambient,diffuse,specular -->
			</necrotic>
		</cell_colors>
	
	</cell_color_definitions>




<pov_settings>
